<?xml version="1.0"?>
<config>
    <modules>
        <Iiw_Ilayernavprice>
            <version>0.1.0</version>
        </Iiw_Ilayernavprice>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ilayernavprice>
                    <file>ilayernavprice.xml</file>
                </ilayernavprice>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <ilayernavprice>
                <class>Iiw_Ilayernavprice_Helper</class>
            </ilayernavprice>
        </helpers>
        <blocks>
            <ilayernavprice>
                <class>Iiw_Ilayernavprice_Block</class>
            </ilayernavprice>
            <catalog>
                <rewrite>
                    <layer_filter_price>Iiw_Ilayernavprice_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <ilayernavprice>
                <class>Iiw_Ilayernavprice_Model</class>
            </ilayernavprice>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Iiw_Ilayernavprice>
                    <files>
                        <default>Iiw_Ilayernavprice.csv</default>
                    </files>
                </Iiw_Ilayernavprice>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <catalog>
            <layered_navigation>
                <iiw_format_output_price_intervals>1</iiw_format_output_price_intervals>
            </layered_navigation>
        </catalog>
    </default>
</config> 